.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about__container .about__descrption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__container .about__descrption span:not(:last-child) {
  margin-bottom: 12px;
}
.about__container .about__descrption span {
  font-size: 15px;
  font-weight: 700;
}